#mypage_title{
    font-size: 50px;
    font-family: Glitten;
    src: url("./Glitten-Regular.otf");
    letter-spacing: .2rem;
}
#mypage_title_highlighter{
    background-color: #A7FF00;
    height: 25px;
    width: 100%;
    z-index: 3;
    position: relative;
    bottom: 100px;
    opacity: 30%;
    display: inline-block;
}
#forms{
    display: grid;
    place-items: center;

}
.react-calendar { 
    width: 70%;
    display: inline-block;
    color: black; 
   }
   .react-calendar__navigation button {
    background: none;
    border:none;
    color: black;
    font-size: 18px;
    margin: 30px
   }
   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
    cursor: pointer;
    font-weight: bold;
   }
   abbr[title] {
    text-decoration: none;
   }
   /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
   .react-calendar__tile{
    background-color: #EAE2DC;
    border:none;
    color: black;
    height: 50px;
   }
   .react-calendar__tile:enabled:hover,
   .react-calendar__tile:enabled:focus {
    font-weight: bold;
    background-color: pink;
    color: black
   }
   .react-calendar__tile--now {
    background: #A7FF00;
    font-weight: bold;
    color: black;
   }
   .react-calendar__tile--now:enabled:hover,
   .react-calendar__tile--now:enabled:focus {
    font-weight: bold;
    color: black;
   }
   .react-calendar__tile--hasActive:enabled:hover,
   .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
   }
   .react-calendar__tile--active {
    background-color: pink;
    font-weight: bold;
    color: black;
   }
   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
    background: pink ;
    color: black;
   }
